# Java / Maven
backend/api/target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.swp
.DS_Store

# Flutter
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/pubspec.lock
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock
mobile/ios/.symlinks/
mobile/ios/Pods/
mobile/ios/Flutter/App.framework
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/app.flx
mobile/ios/Flutter/app.zip
mobile/ios/Flutter/flutter_assets/
mobile/.ios/Flutter/ephemeral/

# Environment
*.env
*.log

# Firebase credentials
*serviceAccount*.json
!*.example.json
